document: modulemd
version: 1
data:
    summary: The hardware enablement module
    description: >-
        This module provides hardware enablement features and is necessary
        to boot a modular system on bare metal or virtual hardware.
    license:
        module: [ MIT ]
    dependencies:
        buildrequires:
            bootstrap: master
        requires:
            platform: master
    references:
        community: https://fedoraproject.org/wiki/Host_and_Platform
        documentation: https://github.com/fedora-modularity/hp
        tracker: https://github.com/fedora-modularity/hp/issues
    components:
        rpms:
[% INCLUDE components.tmpl -%]
